<h1>Cars</h1>

<button *ngIf ="showFlag" mat-raised-button color="primary" routerLink="/car-add">Add New Car</button>

<table mat-table [dataSource]="cars" class="mat-elevation-z8">
  
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let car"> <a [routerLink]="['/car-edit', car.id]">{{car.id}}</a> </td>
  </ng-container>

  <!-- LicensePlate Column -->
  <ng-container matColumnDef="licensePlate">
    <th mat-header-cell *matHeaderCellDef> License Plate </th>
    <td mat-cell *matCellDef="let car"> {{car.licensePlate}} </td>
  </ng-container>

  <!-- Brand Column -->
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Brand </th>
    <td mat-cell *matCellDef="let car"> {{car.brand}} </td>
  </ng-container>

  <!-- Model Column -->
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model </th>
    <td mat-cell *matCellDef="let car"> {{car.model}} </td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let car"> {{car.year}} </td>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Color </th>
    <td mat-cell *matCellDef="let car"> {{car.color}} </td>
  </ng-container>

  <!-- ParkingLot Column -->
  <ng-container matColumnDef="parkingLot">
    <th mat-header-cell *matHeaderCellDef> Parking Lot </th>
    <td mat-cell *matCellDef="let car"> {{car.parkingLot?.name}} </td>
  </ng-container>

  <mat-form-field>
    <mat-label>
      ISO 3166-1 ALPHA-2 Country code (2 letters)
    </mat-label>
    <input matInput formControlName="iso2" placeholder="Insert the ISO2 Country code">
  </mat-form-field>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let car">
      <button *ngIf ="showFlag" mat-raised-button color="primary" [routerLink]="['/car-edit', car.id]">Update</button>
      <button *ngIf ="showFlag" mat-raised-button color="warn" (click)="deleteCar(car.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
